.cards {
    padding-top: 20px;
    gap: 0;
    
}



.cards__list {
    list-style-type: none;
    padding: 0 0 40px 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 413px);
    justify-content: center;
    gap: 36px 20px;
    border-bottom: 1px rgba(33, 33, 33, .4) solid;
}

@media screen and (max-width: 627px) {
    .cards__list {
        grid-template-columns: repeat(auto-fit, 288px);
        padding: 0 0 20px 0;
        border-bottom: 1px rgba(33, 33, 33, .4) solid;
        gap: 20px;
    }
}