/* ToDo - finish styling the preview modal */
/* transition: opacity 1s;
  cursor: pointer; */
/* div > ul {
  . . .
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
div:hover > ul {
  visibility:visible;
  opacity:1;
  transition-delay:0s;
} */
/* TODO - make the preview modal responsive */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  padding: 0 16px;
  transition: all 1s ease-out;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

/* .modal__closed {
    visibility: hidden;
} */

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  width: Hug (730px) px;
  height: Hug (408px) px;

  padding: 32px 50px 32px 50px;
  gap: 32px;
  border-radius: 8px;
  opacity: 0px;
}

.modal__content_type_preview {
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  gap: 0px;
  opacity: 40%;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.modal__close-btn:hover {
  color: rgba(33, 33, 33, 1);
  opacity: 100%;
}
.modal__close-btn_type_preview {
  background-image: url(../images/Icon-close-btn.svg);
  top: 0;
  right: -52px;
  /* justify-content: center; */
  /* border: none; */
  /* border: 2px solid rgba(255, 255, 255, 1); */
  background-color: transparent;
  width: 40px;
  height: 40px;
  gap: 0px;
  opacity: 1;
}

/* .modal__submit-btn_active {
  opacity: 1;
  background-color: transparent;
} */
.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 8px;
  display: block;
  /* top: 81px;
  left: 224px; */

  /* opacity: 0px; */
}

.modal__caption {
  width: fit-content;
  height: 24px;
  padding: 4px 8px;
  background: rgb(33, 33, 33);
  border-radius: 8px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* overflow: hidden; */
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 0;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  /* margin: 0 0 8px; */
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  width: Fixed (156px) px;
  height: Hug (52px) px;
  padding: 18px 32px 18px 32px;
  gap: 8px;
  border-radius: 8px;
  opacity: 1;
  background-color: #212121;
  color: #fcf5e5;
  cursor: pointer;
}

/* .modal__add-submit-btn {
  opacity: 1;
} */

.modal__submit-btn_disabled {
  opacity: 0.5;
}

.modal__input {
  padding: 16px 0 16px 12px;
  font-size: 20px;
  width: Fixed (630px) px;
  height: Hug (52px) px;
  padding: 16px 12px 16px 12px;
  gap: 10px;
  border-radius: 8px;
  opacity: 40%;
  border: 1px solid #212121;
}

/* .modal__name_input:hover {
  opacity: 100%;
} */

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input:hover {
  opacity: 100%;
}

.modal__error {
  display: block;
  color: red;
  margin-top: 8px;
  /* TODO use correct font size and color */
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 24px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__close-btn_type_preview {
    width: 40px;
    height: 40px;
    top: -38px;
    right: -6px;
  }
}

@media screen and (max-width: 372px) {
  .modal__image {
    max-width: 288px;
    border-radius: 4px;
  }
}

/* .close-logo {
    display: flex;
    justify-content: center;
} */

/* .modal__input {
    display: block;
} */
